<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height,
    initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta id="config-json" data-json='${jsonConfig}'/>
    <title>微信提交</title>
    <link rel="stylesheet" href="../../stylesheets/weui.min.css">
    <link rel="stylesheet" href="../../stylesheets/jquery-weui.min.css">
    <link rel="stylesheet" href="../../stylesheets/submit.css">

</head>
<body>
    <div id="image">
        <img src="../../images/303.png" alt="">
    </div>
    <div id="text">
        <p>提交成功</p>
        <p>红包审核通过后在三个工作日内发送给您</p>
    </div>
    <div id="form" class="text-center">
        <div id="hide">
            <ul>
                <li class="last" id="odd"><p><img src="../../images/7.png" alt=""></p><p>第一步:</p><p>上传图片</p></li>
            </ul>
        </div>

        <input type="text" class="form-control" placeholder="请输入订单号" id="Orders">

            <button class="btn btn-primary btn-lg btn-block" id="addID">马上提交</button>

        <p class="father">
            <a href="" class="text-info">活动规则</a>
        </p>
    </div>

    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="../../javascripts/jquery.min.js"></script>
<script src="../../javascripts/jquery-weui.min.js"></script>
<script src="../../javascripts/submit.js"></script>
</body>
</html>