<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height,
    initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta id="config-json" json-data="${jsonConfig}"/>
    <title>微信提交</title>
    <link rel="stylesheet" href="../../stylesheets/weui.min.css">
    <link rel="stylesheet" href="../../stylesheets/jquery-weui.min.css">
    <link rel="stylesheet" href="../../stylesheets/submit.css">

</head>
<body>
    <div class="col-xs-12">
        <img src="../../images/3.jpg" alt="" id="redbull">
        <div id="form" class="text-center">
            <div>
            <ul>
                <li><img src="../../images/5.png" alt=""></li>
                <li><img src="../../images/6.png" alt=""></li>
                <li class="last"><p><img src="../../images/7.png" alt=""></p><p>第一步:</p><p>上传图片</p></li>
            </ul>
        </div>

            <input type="text" class="form-control" placeholder="请输入订单号" id="Orders">
            <p>
            <button class="btn btn-primary btn-lg btn-block" id="addID">马上提交</button>
            </p>
            <p class="father">
                <a href="" class="text-info">活动规则</a>
            </p>
        </div>







    </div>






<script src="../../javascripts/jquery.min.js"></script>
<script src="../../javascripts/jquery-weui.min.js"></script>
<script src="../../javascripts/submit.js"></script>
</body>
</html>