body{
    font-family:"Helvetica","PingFang SC",'HanHei SC',"Lantinghei SC","Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;

}
* {
    margin: 0;
    list-style: none;
    padding: 0;
}
p{
    maring:0;
    padding:0;

}
.label.label-success a {
    color: #fff;
}

.label.label-success.turn{
    margin-left:10px;
}
.label.label-success:hover{
    background-color:#0bc570;
}
.table.table-hover.table-striped td,th{
    width:10%;
    text-align:center;
}
.table.table-hover.table-striped td input{
    margin-left:-30px;
}
.ui-select {
    background-color: #FFFFFF;
    border: 1px solid #2DB2FF;
    box-shadow: 0 0 2px #2DB2FF;
    border-radius: 5px;
    font-size: 1.7em;
    height: 40px;
    position: relative;
    width: 200px;
}
#select {
    margin:20px;
    height: 30px;
}

#filter{
     float: left;
     width: 60px;
     padding: 3px;
     margin-left: 24px;
     border:1px solid rgb(66,140,187);
     background-color:rgb(66,140,187);
     border-radius: 6px;
     color:#fff;

 }
#batch{
    margin: 0;
    float: left;
    width: 90px;
    padding: 3px;
    margin-left: 10px;
    border:1px solid #aaa;
    background-color:#fff;
    border-radius: 6px;
    color:#444;

}
#clear,#batch:hover{
    background-color:#ebeff4;

}
#span{
    margin-bottom:20px;

}
#send,#filter:hover{
    border:1px solid #51aae2;
    background-color:#51aae2;
    color:#fff;

}
#search .form-control.pull-right{
    width:200px;

}
#myModal .modal-content{
    width:300px;
    margin-left:200px;

}  #myModal .modal-title{
       text-align:center;

   }

#through{
    width:100px;
   margin:0 auto;

}
#jqueryPage{

    height:26px;
}


.status button{
    width:5%;
    display:inline-block;
    padding:0;

}
.status span{
    margin-right:20px;

}
.duration li{
    float:left;

}
.aduration{
    margin-top:15px;
    height:35px;

}
.aduration span{
    float:left;
    margin-top:3px;
}
.duration {
    height:25px;
    padding:0;

}

.duration li{
    width:8%;
    height:25px;
    border:1px solid #aaa;
    text-align:center;
    line-height:25px;
    border-right:none;

}
.duration li:last-child{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.duration li:first-child{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.duration li:hover{
    background-color:#3cf;
    color:#fff;

}
.remodal{
    width:497px;
    padding:0;

}
.liclass{
    background-color:#3cf;
    color:#fff;
}

.durati li{
    float:left;
}


.border-color{
    font-size:13px;
    float: left;
    margin-right: 10px;
    border: 1px solid;
    border-radius: 2px;
    padding: 2px 6px;
    border-color: rgb(250,80,83);
    color: rgb(250,80,83);
    margin-top: 10px;

}
.text-color.border-color:hover{
    background-color:rgb(250,80,83);
    color:#fff;

}
.redbag{
    background-color:#2ca2fb;
    color:#fff;
}
.Label b:last-child{
    font-size:16px;
    color:red;

}

.actives{
    background-color:rgb(250,80,83);
    color: #fff;

}
#myModals .modal-content{
    width:440px;

}
#myModals .modal-header{
    padding: 7px 16px;
}
#myModals .modal-header p{
    font-size:16px;
}
.select{
    font-size:12px;
    color:rgb(152,148,148);
    margin:0;

}
.modal-body{
    padding:9px 16px;

}
#span:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;

}
#send{
    border-color:rgb(66,140,187);
    padding: 4px 13px;
    border-radius: 6px;
    background-color:rgb(66,140,187);
    color:#fff;

}
#clear,#cancel{
    padding: 4px 13px;
    border-radius: 6px;
    border:1px solid rgb(149,152,154);
    background-color:#fff;
    color:rgb(75,75,75);

}
.modal-content{
    margin:250px auto;
    border-radius: 5px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    color: #444;
    line-height: 22px;
}
.select2-container{
    float:left;
    margin-left:10px;
    width:161px;
}
#Import_date{
    color:#444;
   border:1px solid #aaa;
    float: left;
    width: 161px;
    border-radius: 5px;
    height: 28px;

}
#user_date{
    margin-left:10px;
    color:#444;
    border:1px solid #aaa;
    float: left;
    width: 161px;
    border-radius: 5px;
    height: 28px;

}
select:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.select2-container--open .select2-dropdown{
    left:-10px;
}



::-webkit-input-placeholder { /* WebKit browsers */
    　　color:#444;
    　　}
　　:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    　　color:#444;
    　　}
　　::-moz-placeholder { /* Mozilla Firefox 19+ */
    　　color:#444;
    　　}
　　:-ms-input-placeholder { /* Internet Explorer 10+ */
    　　color:#444;
    　　}

#isModal .modal-content{
    width:380px;

}
#isModal .modal-content table td{
    font-size:13px;
    width:170px;
    border-top:2px solid rgb(238,238,238);

}
#isModal .modal-content table td:first-child{
    text-align:right;
    padding-right:15px;

}
#isModal .modal-content table td:last-child{
   padding-left:15px;
    text-align:left;

}
#isModal .content-header{
    border-bottom:2px solid rgb(238,238,238);

}

#isModal .modal-title{
    font-size:17px;

}
.images:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;

}
.images li{
    float:left;
    margin-right:4px;
    width:28px;
    height:10px;

}
.images li img{
    position:absolute;
    width:30px;
    height:27px;

}
/*.images li:hover{
    z-index: 999;
}*/
/*
.images li img:hover{
    transform: scale(20.0, 14.0);
    transition: .3s transform;
    z-index: 1000;
}*/
