* {
    margin: 0;
    list-style: none;
    padding: 0;
}
body{
    font-family: "PingFang SC",'HanHei SC',"Lantinghei SC","Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
    background-color: #f4f4f8;
    color: #444952;
    font-size: 14px;
    background-color:#a20510;

}

#image{
    height:auto;
    width:100%;



}
#image img{
    width:100%;
}


#form{
    text-align: center;
    margin-top:6%;

}
#form ul{
    margin:0 auto;
    width:77%;
}
#form ul:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;

}
.last{
    margin-top:-1px;
    border-radius:5px;
    border:1px solid #ddd;
    margin:none;
    text-align:center;
    color:#fff;

}
.last p{
    font-size:12px;

}
#Orders{
    box-shadow:6px 6px 5px rgb(216, 207, 207) inset;
    margin-top:4%;
    width: 74%;
    margin-left: 1%;
    height: 40px;
    border-radius: 6px;
    background-color: #f7f7f7;
    border: none;
    padding-left: 14px;
    font-size: 14px;
    outline:none;

}

#addID{
    background-color:rgb(237,233,49);
    border: none;
    width: 79%;
    margin-left: 4px;
    height: 40px;
    margin-top: 4%;
    border-radius: 6px;
    font-size: 18px;
    outline: none;

}
/*#addID:hover{
    background-color:rgb(245, 242, 94);

}*/
.text-info{
    color:#fff;
    font-size:12px;
    text-decoration: underline;


}#text {

    margin-top:7%;
    text-align:center;

 }
#text p{
    color:rgb(254,246,193);
}
.aiar{
    margin-top:3%;
    background-color:#a20510;
    color:rgb(238,205,124);
    border:1px solid rgb(238,205,124);

}

#text p:first-child{
    font-size:22px;
}
.father{
    margin-top:2%;
}
#form .lict img{
    width:100%;
    height: 100%;
    border-radius:6px;

}





@media screen and (max-width: 414px) {
    #form li{
        width:94px;
        height:94px;
        float:left;
        margin-left:16px;

    }
    #form #odd p:first-child{
        margin-top:14px;

    }
    #addID {
        width:78%;

    }

    #form ul li:first-child{
        margin-left:2px;

    }
    .last p,.text-info{
        font-size:13px;

    }

}
@media screen and (max-width: 375px) {
    #form li{
        width:84px;
        height:84px;
        float:left;
        margin-left:16px;

    }
    #form #odd p:first-child{
        margin-top:10px;

    }
    #addID {
        width:78%;

    }
    #form ul li:first-child{
        margin-left:2px;

    }
}
@media screen and (max-width: 320px) {
    #form li{
        width:70px;
        height:70px;
        float:left;
        margin-left:16px;

    }
    #form #odd p:first-child{
        margin-top:3px;

    }
    #form ul li:first-child{
        margin-left:2px;

    }
    .last p,.text-info{
        font-size:12px;

    }
}

