* {
    margin: 0;
    list-style: none;
    padding: 0;
}
body{
    font-family: "PingFang SC",'HanHei SC',"Lantinghei SC","Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
    background-color: #f4f4f8;
    color: #444952;
    font-size: 14px;

}

#image{
    height:100%;
    width:100%;
    position: fixed;
    z-index: -10;
    background:url(../images/15.png) no-repeat;
    background-position: 0px 0px;
    background-size: 100% 100%;
    text-align: center;


}

#form{
    position:absolute;
    bottom:0;
    z-index:999;
    width:100%;
    text-align:center;


}

#form ul{
    margin:0 auto;
    width:77%;
}
#form ul:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;

}
#form ul li{
    width:31%;
    float:left;
    margin-right:5px;

}
.last{
    margin-top:-1px;
    border-radius:5px;
    padding-top:3%;
    padding-bottom:2%;
    border:1px solid #ddd;
    margin:none;
    text-align:center;
    color:#fff;

}
.last p{
    font-size:12px;

}
#Orders{
    margin-top:13px;
    width: 76%;
    margin-left: 1%;
    height: 35px;
    border-radius: 6px;
    background-color: #f7f7f7;
    border: none;
    padding-left: 14px;
    font-size: 14px;
    outline:none;

}
#addID{
    background-color:rgb(237,233,49);
    border: none;
    width: 77%;
    margin-left: 8px;
    height: 40px;
    margin-top: 13px;
    border-radius: 6px;
    font-size: 18px;
    outline: none;

}
.text-info{
    color:#fff;
    font-size:12px;
    text-decoration: underline;


}
.father{
    margin:7px;
}
/*#form .lict{
    width:31%;
    height:84px;

}*/

@media screen and (max-width: 320px){
    #form .lict
    {
        width:70px;
        height:70px;

    }
    #form .lict img{
        width:100%;

    }
}


