body{
    overflow-x: scroll;
    overflow-y: scroll;
    min-width:1024px;
    font-family:"Helvetica","PingFang SC",'HanHei SC',"Lantinghei SC","Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
}
* {
    margin: 0;
    list-style: none;
    padding: 0;
}
p{
    maring:0;
    padding:0;

}
.breadcrumb {
    float: right;
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    padding: 7px 5px;
    border-radius: 2px;
}
.breadcrumb i{
    margin-right:3px;

}
.content-header{
    margin-bottom:10px;
}
.content-header p small{
    font-size: 14px;
    display: inline-block;
    padding-left: 4px;
}
html{
    font-size:16px;
}
.label{
    font-size:89%;
}
.user-footer .label.label-info a{
    color:#fff;
}
.logo img{
    width:20px;
    margin-top: -3px;

}
.logo-lg b{
    font-size:16px;

}
.pager{
    text-align: right;

}
.pager a{border:1px solid #ddd;color:#428bca;padding:4px 10px;text-decoration: none;background-color: #FFF;}
.pager a.hover{background-color: #F7F7F7;color:#428bca;border-color:#ddd;}
.pager a.active{background-color: #428bca;
    border-color: #428bca;color:#FFF;}
.pager a.disabled{color:#C8CDD2;cursor:auto;}
.pager a:first-child{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pager a:last-child{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

}
.content{
max-width:1300px;
    margin:0;
}
.sa-icon{
    display:none;
    border-color: #F27474;
    width: 80px;
    height: 80px;
    border: 4px solid #F27474;
    border-radius: 50%;
    margin: 20px auto;
    padding: 0;
    position: relative;
    box-sizing: content-box;
}
.sa-x-mark {
    position: relative;
    display: block;
}
.sa-line.sa-left {
    transform: rotate(45deg);
    left: 17px;
}
.sa-line.sa-right{
    transform: rotate(-45deg);
    right: 17px;
}
.sa-line {
    position: absolute;
    height: 5px;
    width: 47px;
    background-color: #F27474;
    display: block;
    top: 37px;
    border-radius: 2px;
}
.is_good h2 {
    color: #575757;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    text-transform: none;
    position: relative;
    margin: 25px 0;
    padding: 0;
    line-height: 40px;
    display: block;
}
.is_good p{
    color: #797979;
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    position: relative;
    text-align: inherit;
    float: none;
    margin: 0;
    padding: 0;
    line-height: normal;
}
.is_good button{
    color: #fff;
    border: none;
    font-size: 17px;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px 32px;
    margin: 26px 5px 0 5px;
    cursor: pointer;
}
.is_good{
    margin-top: -170px;
    background-color: #fff;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    width: 478px;
    padding: 17px;
    border-radius: 5px;
    text-align: center;
    position: fixed;
    bottom:35%;
    left: 50%;
    top: 50%;
    margin-left: -256px;
    margin-top: -200px;
    overflow: hidden;
    z-index: 99999;
}
