<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="../../../stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../../../stylesheets/goodcomment.css">
</head>
<body>
    <header>
        <div class="out">
            <img src="../../../images/logo.png" alt="">
            <button class="btn btn-block btn-default" onclick="javascript:window.location.href='/login'" id="login">登录</button>
            <button class="btn btn-block btn-default" onclick="javascript:window.location.href='/operator/registerHome'" id="lich">注册</button>
        </div>
    </header>
    <section id="section">
         <div class="sub">
             <div class="gta">
                 <h2>客户变粉丝,建立自有流量地</h2>
                 <p class="pool"></p>
                 <p class="text">商家使用追游科技实现微信链接多渠道电商平台,把渠道客户转化为自己的客户,借助微信打通沟通和购物闭环。</p>
             </div>
             <img src="../../../images/banner-img03.png" alt="" class="background">
         </div>

    </section>
    <div class="advisory">
        <p class="top_adv">咨询台</p>
        <p class="center_adv">
        <img src="../../../images/zixun.png" alt="">
            <p class="bottom_adv"><img src="../../../images/qq.png" alt=""><span>在线咨询</span></p>
        </p>
    </div>

    <section id="top">
        <div class="oder">
        <h3 id="serrve">产品服务</h3>
            <ul>
                <li>
                    <div>
                    <img src="../../../images/s01.png" alt="">
                    </div>
                    <h3>客户管理</h3>
                <p>打通购物平台以及微信社交平台和一键同步,轻松管理您的买家和粉丝。提供智能化标签管理。</p>
                </li>
                <li>
                    <div>
                    <img src="../../../images/s02.png" alt="">

                </div>
                    <h3>数据分析</h3>
                    <p>智能化数据分析,全面帮您分析店铺销售情况,微信粉丝互动情况,活动收益情况</p>
                </li>
                <li style="margin-right:0;"> <div>
                    <img src="../../../images/s03.png" alt="">

                </div>
                    <h3>营销活动</h3>
                <p>综合电商特点,提供自动化,智能化,多样化活动,集营销,趣味为一体。</p>
                </li>
                <li> <div>
                    <img src="../../../images/s04.png" alt="">
                </div>
                    <h3>多渠道销售</h3>
                <p>提供短信,微信,线下粉丝卡等渠道推送,大大增加消息触达率</p>
                </li>
                <li> <div>
                    <img src="../../../images/s05.png" alt="">

                </div>
                    <h3>社群搭建</h3>
                <p>引入真实粉丝,快速组件社群,扩大知名品牌度。</p>
                </li>
                <li style="margin-right:0;"> <div>
                    <img src="../../../images/s06.png" alt="">

                </div>
                    <h3>多元化奖品</h3>
                    <p>支持现实红包,淘宝优惠券,返现券,实物奖品多类型奖品,让您的粉丝帮您营销。</p>
                </li>
            </ul>
        </div>
    </section>
    <div class="content">
            <div class="key">
                <h3>活动示例</h3>


            </div>

        <img src="../../../images/11.png" alt="">
    </div>
    <div class="Advantage">
        <div class="mon">
            <h3>我们的优势</h3>
            <ul>
                <li>
                    <div>
                        <img src="../../../images/ad–img01.png" alt="">
                    </div>
                    <h3>智能操作系统</h3>
                    <p>聪明易用的系统,会让初次上手的用户快速按模板创建和推送活动。也给予用户更多的自主权,可以自由切换活动页面,推送活动</p>

                </li>
                <li> <div>
                    <img src="../../../images/ad–img02.png" alt="">
                </div>
                    <h3>专注电商服务</h3>
                    <p>结合现有电商平台,设计多项结合电商使用功能,从初始的功能,从初始的粉丝用户聚集到后续购买转换全链路流程</p>
                <li style="margin-right:0;"><div>
                    <img src="../../../images/ad–img03.png" alt="">
                </div>
                <h3>完善售后系统</h3>
                    <p>完善的售后服务系统,快速与解答使用过程中的疑问,也会根据您的反馈不断改进产品。</p></li>
            </ul>
        </div>
    </div>
    <footer>
        <div class="footer">
                <div class="Cooperation">
                    <h4>合作关系</h4>
                    <p>联系人:项小姐</p>
                    <p>联系电话:18768402566</p>
                    <p>邮箱:88888888@163.com</p>
                    <p>地址:杭州市拱墅区</p>
                </div>
            <div class="right">
                <img src="../../../images/100.png" alt="">
                    <p>扫码关注</p>
                    <p>追游科技微信公众号</p>
            </div>

        </div>
        <div class="bottom">
            <p>版权信息</p>

        </div>
    </footer>


    <script src="../../../javascripts/jquery-2.2.3.min.js"></script>
    <script src="../../../javascripts/index.js"></script>
</body>
</html>