<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../../stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../../../stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="../../../stylesheets/jquery-jvectormap-1.2.2.css">
    <link rel="stylesheet" href="../../../stylesheets/AdminLTE.min.css">
    <link rel="stylesheet" href="../../../stylesheets/_all-skins.min.css">
    <link rel="stylesheet" href="../../../stylesheets/words.css">
    <link rel="stylesheet" href="../../../stylesheets/general.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header class="main-header">
        <a href="/" class="logo">
            <span class="logo-lg">
          <img src="../../../images/B3F0F1AD70377E062920F9BA53902227.jpg" alt="">
            <b>聚塔微客户管理平台</b></span>
        </a>

        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="../../../images/user2-160x160.jpg" class="user-image" alt="User Image">
                            <span class="hidden-xs">欢迎你${operator.name}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img src="../../images/user2-160x160.jpg" class="img-circle" alt="User Image">
                                <p>
                                    <small>用户名</small>
                                    <span>gc243728357</span>
                                </p>
                            </li>
                            <li class="user-body">
                                <div class="row">
                                    <span style="margin-left:71px;">手机号</span>
                                    <span>-12345676878</span>
                                </div>
                            </li>

                            <li class="user-footer">
                                <div class="pull-left">
                                    <span class="label label-info" id="modify">
                                    <a href="#">修改密码</a></span>
                                </div>
                                <div class="pull-right">
                                    <span class="label label-info"><a href="#" >退出</a></span>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="../../../images/user2-160x160.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>微信公众号</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>
            <!-- search form -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
              <span class="input-group-btn">
              </span>
                </div>
            </form>
            <ul class="sidebar-menu">
                <li>
                    <a href="home">
                        <i class="fa fa-weixin mr-housite"></i> <span>订单列表</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-green">new</small>
            </span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="/redstrategy/home">
                        <i class="fa fa-dashboard"></i> <span>红包管理</span>
                    </a>
                </li>
                <li>
                    <a href="../../../proxy/billing.html">
                        <i class="fa fa-pie-chart"></i><span style="margin-left: 3px;">统计</span>
            <span class="pull-right-container">
            </span>
                    </a>
                </li>
            </ul>
        </section>
    </aside>
    <div class="content-wrapper">
        <section class="content">
            <section class="content-header">
                <p style="font-size:20px;">导入订单
                </p>
                <ol class="breadcrumb">
                    <li><a href="home"><i class="fa fa-dashboard"></i>订单列表</a></li>
                    <li style="color:#777;">导入订单</li>
                </ol>

            </section>
            <div class="row">
                <div class="father">
                <form action="" method="post" target="" id="uploadForm"  enctype="multipart/form-data">
                    <input id="fileId" type="file" name="file" accept="text/csv" id="limit"/>
                    <input type="submit" name="submit" id="submit" value="文件上传" />
                </form>
                <button class="btn btn-block btn-default" id="click">确认导入</button>
                </div>
                <table class="table_top">
                    <tr>
                        <td><button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
                        </button>全选</td>
                        <td>订单号</td>
                        <td>买家会员名</td>
                        <td>订单创建时间</td>
                        <td>订单付款时间</td>
                        <td>买家支付宝账号</td>
                        <td>付款金额</td>
                        <td>收货人姓名</td>
                        <td>收货地址</td>
                        <td>收货人手机号</td>
                    </tr>
                </table>

                <div class="table-responsive mailbox-messages">

                     <div>
                                    <table class="table table-hover table-striped" id="Table">

                                         <tbody id="dis">




                                    </tbody>

                                         </table>
                    </div>
                                   </div>





                              </div>

               <!-- <input type="file" onchange="filefujianChange(this);" value="1"/>-->
                </div>
            </section>

        </div>

<div class="modal fade" id="imports" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <h4>导入成功</h4>
            <div class="modal-footer" style="border-top:2px solid #ddd;">
                <button class="btn btn-success" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>
<script src="../../../javascripts/jquery-2.2.3.min.js"></script>
<script src="../../../javascripts/bootstrap.min.js"></script>
<script src="../../../javascripts/app.min.js"></script>
<script src="../../../javascripts/icheck.min.js"></script>
<script src="../../../javascripts/import.js"></script>
<script>



//function hhh() {
//    console.log(new FormData($('#uploadForm')[0]))
//    $.ajax({
//        url: basePath + '/order/importcsv',
//        type: 'POST',
//        cache: false,
//        data: new FormData($('#uploadForm')[0]),
//        processData: false,
//        contentType: false
//    }).done(function (res) {
//        console.log(res);
//    }).fail(function (res) {
//        console.log(res);
//    });
//}

</script>




</body>
</html>