<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>公众号列表</title>
    <link rel="stylesheet" href="../../../stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../../../stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="../../../stylesheets/jquery-jvectormap-1.2.2.css">
    <link rel="stylesheet" href="../../../stylesheets/AdminLTE.min.css">
    <link rel="stylesheet" href="../../../stylesheets/_all-skins.min.css">
    <link rel="stylesheet" href="../../../stylesheets/words.css">
    <link rel="stylesheet" href="../../../stylesheets/remodal.css">
    <link rel="stylesheet" href="../../../stylesheets/remodal-default-theme.css">
    <link rel="stylesheet" href="../../../stylesheets/fancySelect.css">
    <link rel="stylesheet" href="../../../stylesheets/proxylist.css">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header class="main-header">
        <a href="/" class="logo">
            <span class="logo-lg">
          <img src="../../../images/B3F0F1AD70377E062920F9BA53902227.jpg" alt="">
            <b>聚塔微客户管理平台</b></span>
        </a>

        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="../../../images/user2-160x160.jpg" class="user-image" alt="User Image">
                            <span class="hidden-xs">欢迎你${operator.name}</span>
                        </a>
                        <ul class="dropdown-menu">



                            <!-- User image -->
                            <li class="user-header">
                                <img src="../../../images/user2-160x160.jpg" class="img-circle" alt="User Image">
                                <p>
                                    <small>用户名</small>
                                    <span>gc243728357</span>
                                </p>
                            </li>
                            <!-- Menu Body -->
                            <li class="user-body">
                                <div class="row">
                                    <span style="margin-left:71px;">手机号</span>
                                    <span>-12345676878</span>
                                </div>
                            </li>

                            <li class="user-footer">
                                <div class="pull-left">
                                    <span class="label label-info" id="modify">
                                    <a href="#">修改密码</a></span>
                                </div>
                                <div class="pull-right">
                                    <span class="label label-info"><a href="#" >退出</a></span>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="../../../images/user2-160x160.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>微信公众号</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>
            <!-- search form -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
              <span class="input-group-btn">
              </span>
                </div>
            </form>
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>
                <li>
                    <a href="Management.html">
                        <i class="fa fa-weixin mr-housite"></i> <span>公众号列表</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-green">new</small>
            </span>
                    </a>
                </li>
                <li class="active treeview">
                    <a href="proxylist.html">
                        <i class="fa fa-dashboard"></i> <span>订单管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="active"><a href="proxylist.html"><i class="fa fa-circle-o"></i> 订单列表</a></li>
                        <li><a href="/order/import"><i class="fa fa-circle-o"></i> 导入订单</a></li>
                    </ul>
                </li>
                <li>
                    <a href="redmanagement.html">
                        <i class="fa fa-th-large mr-housite"></i> <span>红包管理</span>
            <span class="pull-right-container">
            </span>
                    </a>
                </li>
                <li>
                    <a href="../../../proxy/billing.html">
                        <i class="fa fa-pie-chart"></i><span>统计</span>
            <span class="pull-right-container">
            </span>
                    </a>
                </li>
            </ul>
        </section>
    </aside>
    <div class="content-wrapper">
        <section class="content">
            <ol class="breadcrumb">
                <li><a href=""><i class="fa fa-dashboard"></i>订单列表</a></li>
                <li class="active"><a href="${basePath}/order/toimport">导入订单</a></li>
            </ol>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <form action="" id="select">
                        <select id="basic-usage-demo">
                            <option value="">提交时间</option>
                            <option>Lorem Ipsum</option>
                            <option>Dolor Sit</option>
                            <option>Vehicula Ornare</option>
                            <option>Foo</option>
                            <option>Bar</option>
                            <option>Baz</option>
                            <option>Qux</option>
                            <option>Zoobie</option>
                            <option>Frang</option>
                        </select>

                        <select id="basic-time-demo">
                            <option value="">导入时间</option>
                            <option>哈哈哈</option>
                            <option>好地方地方</option>
                            <option>可以</option>
                            <option>Foo</option>
                            <option>Bar</option>
                            <option>Baz</option>
                            <option>Qux</option>
                            <option>Zoobie</option>
                            <option>Frang</option>
                        </select>
                        <select id="basic-status-demo">
                            <option value="">未申领</option>
                            <option>申领中</option>
                        </select>
                        <select id="basic-details-demo">
                            <option value="">红包详情</option>
                            <option>Lorem Ipsum</option>
                            <option>Dolor Sit</option>
                            <option>Vehicula Ornare</option>
                            <option>Foo</option>
                            <option>Bar</option>
                            <option>Baz</option>
                            <option>Qux</option>
                            <option>Zoobie</option>
                            <option>Frang</option>
                        </select>
                            <button class="btn btn-block btn-default" id="filter">筛选</button>
                            <div class="input-group input-group-sm" id="search">
                                <input type="text" name="table_search" class="form-control pull-right" placeholder="订单号">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>

                        </form>
<div class="table-responsive mailbox-messages">

    <table class="table table-hover table-striped" id="Table">
        <thead>
            <th><button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
            </button>全选</th>
                <th>订单号</th>
                <th>详情</th>
                <th>用户上传照片</th>
                <th>提交时间</th>
                <th>状态</th>
                <th>红包详情</th>
                <th>红包发放时间</th>
                <th>红包领取时间</th>
                <th>操作</th>
        </thead>
        <tbody>

        </tbody>
    </table>
    <!-- /.table -->


</div>
                        </div>
                    </div>
                </div>
            <div>
                <button class="btn btn-block btn-default" id="through">批量通过</button>
                <div class="jqueryPage" id="jqueryPage">
                </div>
            </section>
        </div>
</div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">Close</span></button>
                    <h5 class="modal-title">请填写驳回原因</h5>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <form action="">
                            <textarea id="Text" cols="30" rows="4" maxlength="100"></textarea>
                        </form>
                    </div>
                    <small class="text-muted" style="display: inline-block;">
                        0/100
                    </small>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" id="clear">取消</button>
                    <button class="btn btn-success" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>

<div class="remodal" data-remodal-id="modalt" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
    <div class="gray-box fn-clear">
        <div class="title pre-title">
            <h2>选择红包类型</h2>
        </div>
        <div class="box-inner ui-goods-cart">

            <div class="cart-table">
                <div class="cart-group js-cart-group">

                </div>

                <div class="box-in  r">
                    <div class="order-discount-line" id="span">
                        <div>
                        <span data-id="111" class="text-color border-color" >
                           一元红包
                        </span>
                        <span class="text-color border-color">
                           二元红包
                        </span>
                        <span class="text-color border-color">
                          三元红包
                        </span>
                        <span class="text-color border-color">
                            四元红包
                        </span>
                        <span class="text-color border-color">
                           五元红包
                        </span>
                        <span class="text-color border-color">
                            六元红包
                        </span>
                        <span class="text-color border-color">
                            七元红包
                        </span>
                        <span class="text-color border-color">
                           八元红包
                        </span>

                        <span class="text-color border-color">
                           九元红包
                        </span>
                        <span class="text-color border-color">
                            十元红包
                        </span>
                            <span style="clear:both"></span>
                    </div>
                        <span class="both"></span>
                </div>
                <div class="box-inner">
                    <div class="last-payment vouchers-wrapper fn-clear abc">
                        <a id="confim_l" data-remodal-action="confirm" class="remodal-confirm">确认</a>
                        <a data-remodal-action="cancel" class="remodal-cancel">取消</a>
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>
    </div>

    <script src="../../../javascripts/jquery-2.2.3.min.js"></script>
    <script src="../../../javascripts/bootstrap.min.js"></script>
    <script src="../../../javascripts/app.min.js"></script>
    <script src="../../../javascripts/icheck.min.js"></script>
    <script src="../../../javascripts/jqueryPage.js"></script>
    <script src="../../../javascripts/fancySelect.js"></script>
    <script src="../../../javascripts/remodal.js"></script>
    <script src="../../../javascripts/proxylist.js"></script>


</body>
</html>