<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>红包管理</title>
    <link rel="stylesheet" href="../../../stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../../../stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="../../../stylesheets/jquery-jvectormap-1.2.2.css">
    <link rel="stylesheet" href="../../../stylesheets/AdminLTE.min.css">
    <link rel="stylesheet" href="../../../stylesheets/_all-skins.min.css">
    <link rel="stylesheet" href="../../../stylesheets/words.css">
    <link rel="stylesheet" href="../../../stylesheets/remodal.css">
    <link rel="stylesheet" href="../../../stylesheets/remodal-default-theme.css">
    <link rel="stylesheet" href="../../../stylesheets/remmanagement.css">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header class="main-header">
        <a href="/" class="logo">
            <span class="logo-lg">
          <img src="../../../images/B3F0F1AD70377E062920F9BA53902227.jpg" alt="">
            <b>聚塔微客户管理平台</b></span>
        </a>

        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="../../../images/user2-160x160.jpg" class="user-image" alt="User Image">
                            <span class="hidden-xs">欢迎你${operator.name}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img src="../../images/user2-160x160.jpg" class="img-circle" alt="User Image">
                                <p>
                                    <small>用户名</small>
                                    <span>gc243728357</span>
                                </p>
                            </li>
                            <li class="user-body">
                                <div class="row">
                                    <span style="margin-left:71px;">手机号</span>
                                    <span>-12345676878</span>
                                </div>
                            </li>

                            <li class="user-footer">
                                <div class="pull-left">
                                    <span class="label label-info" id="modify">
                                    <a href="#">修改密码</a></span>
                                </div>
                                <div class="pull-right">
                                    <span class="label label-info"><a href="#" >退出</a></span>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="../../../images/user2-160x160.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>微信公众号</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>
            <!-- search form -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
              <span class="input-group-btn">
              </span>
                </div>
            </form>
            <ul class="sidebar-menu">
                <li>
                    <a href="/order/home">
                        <i class="fa fa-weixin mr-housite"></i> <span>订单列表</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-green">new</small>
            </span>
                    </a>
                </li>
                <li class="active treeview">
                    <a href="/redstrategy/home">
                        <i class="fa fa-dashboard"></i> <span>红包管理</span>
                    </a>
                </li>
                <li>
                    <a href="../../../proxy/billing.html">
                        <i class="fa fa-pie-chart"></i><span style="margin-left: 3px;">统计</span>
            <span class="pull-right-container">
            </span>
                    </a>
                </li>
            </ul>
        </section>
    </aside>
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <button class="btn btn-block btn-default" id="addred" data-toggle="modal" data-target="#myModal">新增</button>
                        <table class="table table-hover table-striped" id="Table">
                            <thead>
                            <tr>
                                <td>编号</td>
                                <td>红包名称</td>
                                <td>红包金额(元)</td>
                                <td>操作</td>
                            </tr>
                            </thead>
                            <tbody>


                            </tbody>
                            </table>

            </div>
            </div>
                </div>


        </section>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom:2px solid #ddd;">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span> <span class="sr-only">Close</span></button>
                    <h4>新增红包类型</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <p>输入红包名称:</p>
                        <input type="text" class="form-control" id="name">
                        <small>红包名称最多八个字</small>
                    </div>
                    <div class="input-group">
                        <p>输入红包金额:</p>
                        <input type="text" class="form-control" id="nub">
                        <small>红包金额必须为整数</small>
                    </div>
                </div>
                <div class="modal-footer" style="border-top:2px solid #ddd;">
                    <button class="btn btn-success" data-dismiss="modal">取消</button>
                    <a href="/redstrategy/home"><button class="btn btn-success" id="confirm_add">确定</button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom:2px solid #ddd;">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span> <span class="sr-only">Close</span></button>
                    <h4>新增红包类型</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <p>输入红包名称:</p>
                        <input type="text" class="form-control" id="name_update">
                        <small>红包名称最多八个字</small>
                    </div>
                    <div class="input-group">
                        <p>输入红包金额:</p>
                        <input type="text" class="form-control" id="nub_update">
                        <small>红包金额必须为整数</small>
                    </div>
                </div>
                <div class="modal-footer" style="border-top:2px solid #ddd;">
                    <button class="btn btn-success" data-dismiss="modal">取消</button>
                    <button class="btn btn-success" data-dismiss="modal" id="confirm_update">确定</button>
                </div>
            </div>
        </div>
    </div>
<script src="../../../javascripts/jquery-2.2.3.min.js"></script>
<script src="../../../javascripts/bootstrap.min.js"></script>
<script src="../../../javascripts/app.min.js"></script>
<script src="../../../javascripts/remodal.js"></script>
<script src="../../../javascripts/redmanagement.js"></script>


</body>
</html>