<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>公众号使用期管理</title>
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/jquery-jvectormap-1.2.2.css">
    <link rel="stylesheet" href="/styles/AdminLTE.min.css">
    <link rel="stylesheet" href="/styles/_all-skins.min.css">
    <link rel="stylesheet" href="/stylesheets/words.css">
    <link rel="stylesheet" href="/stylesheets/upload.css">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<header class="main-header">
    <a href="/" class="logo">
            <span class="logo-lg">
          <img src="/images/B3F0F1AD70377E062920F9BA53902227.jpg" alt="">
            <b>聚塔微客户管理平台</b></span>
    </a>
    <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="/images/user2-160x160.jpg" class="user-image" alt="User Image">
                        <span class="hidden-xs">欢迎你${operator.name}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <img src="/images/user2-160x160.jpg" class="img-circle" alt="User Image">
                            <p>
                                <small>用户名</small>
                                <span>gc243728357</span>
                            </p>
                        </li>
                        <li class="user-body">
                            <div class="row">
                                <span style="margin-left:71px;">手机号</span>
                                <span>-12345676878</span>
                            </div>
                        </li>

                        <li class="user-footer">
                            <div class="pull-left">
                                    <span class="label label-info" id="modify">
                                    <a href="#">修改密码</a></span>
                            </div>
                            <div class="pull-right">
                                <span class="label label-info"><a href="/operator/logout" >退出</a></span>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
<aside class="main-sidebar">
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/images/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>微信公众号</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
              <span class="input-group-btn">
              </span>
            </div>
        </form>
        <ul class="sidebar-menu">
            <li>
                <a href="/proxy/home">
                    <i class="fa fa-weixin mr-housite"></i> <span>公众号使用期管理</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-green">new</small>
            </span>
                </a>
            </li>
            <li class="treeview">
                <a href="/redstrategy/home">
                    <i class="fa fa-dashboard"></i> <span>购买管理</span>
                </a>
            </li>
            <li class="treeview">
                <a href="/redstrategy/home">
                    <i class="fa fa-fw fa-folder-open"></i><span>信息管理</span>
                </a>
            </li>
            <li>
                <a href="/proxy/billing.html">
                    <i class="fa fa-pie-chart"></i><span style="margin-left: 3px;">统计</span>
            <span class="pull-right-container">
            </span>
                </a>
            </li>
            <li>
                <a href="/proxy/QRUploadHome">
                    <i class="fa fa-fw fa-qrcode"></i><span style="margin-left: 3px;">上传二维码</span>
            <span class="pull-right-container">
            </span>
                </a>
            </li>
        </ul>
    </section>
</aside>
<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">

                    <div class="father">
                        <form action="" method="post" target="" id="uploadForm"  enctype="multipart/form-data">
                            <img src="" alt="" class="images_go"style="width:140px;height:140px;background-color: #fff; position: absolute;">
                            <a href="#" id="upfile_list">
                                点击上传支付宝码
                                <input type="file" name="alipay" class="upfile" id="tops" accept="image/jpg,image/png"/>
                            </a>

                            <img src="" alt="" class="images_li" style="margin-left:80px;width:140px;height:140px; position: absolute;background-color: #fff;">

                            <a href="#" id="upfile_kich" style="margin-left:80px;">
                                点击上传微信码
                                <input type="file" name="wechatPay"class="upfile" id="bottoms" accept=".jpg,.png"/>
                            </a>
                            <div class="input-group input-group-sm" id="search" style="width:200px;margin-top:30px;">
                                <input type="text" name="count" id='count'class="form-control pull-right" placeholder="单价100元/周期">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default" style="width:46px;text-align:center;">编辑</button>
                                </div>
                            </div>
                        </form>
                        <div class="btn_tuies">
                        <button class="btn btn-block btn-default" id="click">确认</button>
                        <button class="btn btn-block btn-default" id="cancel">取消</button>
                    </div>
                    </div>

                    </div>
                </div>
            </div>
    </section>
</div>
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div>
        <img src="../../../images/ok.jpg" alt="">
        <div class="sa-icon sa-error animateErrorIcon">
             <span class="sa-x-mark animateXMark">
        <span class="sa-line sa-left"></span>
        <span class="sa-line sa-right"></span>
                </span>
        </div>

        <h2>上传成功</h2>
        <button class="confirms" tabindex="1" data-dismiss="modal" style="display: inline-block; background-color: rgb(44, 162, 251); box-shadow: rgba(44, 162, 251, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset;">好的</button>

    </div>
</div>





<script src="/documents/jquery-2.2.3.min.js"></script>
<script src="/documents/bootstrap.min.js"></script>
<script src="/documents/app.min.js"></script>
<script src="/javascripts/upload.js"></script>


</body>
</html>