<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>忘记密码</title>
    <link rel="stylesheet" href="../../../stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../../../stylesheets/welcome.css">
    <link rel="stylesheet" href="../../../stylesheets/forget.css">
</head>
<body>
<div id="login">
    <div class="custom-panel">
    <div class="custom-header">
        <img src="../../../images/121.jpg" class="logo"/>
    <br>
    <br>
        <h4 style="font-weight:bold;" class="text-info">重置密码</h4>

    </div>
    <div class="custom-body">
        <div class="mb-housite">
            <input type="text" class="form-control" placeholder="输入你注册的手机号">
        </div>
        <br>
        <p class="text-center">
            <button class="btn btn-primary btn-block">下一步</button>
        </p>

    </div>

</div>
</div>


<script src="../../../javascripts/jquery-2.2.3.min.js"></script>
<script src="../../../javascripts/bootstrap.min.js"></script>
</body>
</html>