<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../../../stylesheets/welcome.css">

</head>
<body>

    <div class="custom-panel">
    <div class="custom-header">
        <img src="../../../images/B3F0F1AD70377E062920F9BA53902227.jpg" class="logo"/>
    </div>
        <p id="juta">聚塔微客户管理平台</p>

        <div class="mb-housite">
        <input id="username" class="form-control account" type="text" maxlength="12" name="user"
               placeholder="请输入账号"/>
        <input id="password" class="form-control" type="password" maxlength="10" name="password"
               placeholder="请输入密码"/>
        </div>
        <p class="text-center">
    <button class="btn btn-primary btn-lg btn-block" id="btn">立即登录</button>
        </p>
            <p class="text-right">
                <a href="../../../user/forget" class="text-muted">忘记密码?</a>
            </p>
        <p class="text-center">
            <a href="../../../user/gotoregister" class="btn btn-default btn-lg btn-block">注册账号</a>
        </p>


    </div>

    <div class="remodal" data-remodal-id="modal" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
        <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
        <div class="sa-icon sa-warning pulseWarning">
            <span class="sa-body pulseWarningIns"></span>
            <span class="sa-dot pulseWarningIns"></span>

        </div>
        <div>
            <h2 id="modal1Title">确认</h2>
            <p id="modal1Desc">
                即将前往公众号授权页面,确认授权吗?
            </p>
        </div>
        <br>
        <button data-remodal-action="cancel" class="remodal-cancel">取消</button>
        <button data-remodal-action="confirm" class="remodal-confirm">确认</button>
    </div>
    <script src="../../../javascripts/jquery-2.2.3.min.js"></script>
    <script src="../../../javascripts/bootstrap.min.js"></script>
    <script src="../../../javascripts/login.js"></script>


</body>
</html>