<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="../../../stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../../../stylesheets/register.css">
</head>
<body>
<div id="register">
    <div class="custom-panel">
        <div class="custom-header">
            <img src="../../../images/B3F0F1AD70377E062920F9BA53902227.jpg" alt="" class="logo">
            <br>
            <br>
            <h4 class="text-info" style="font-weight:bold;">开启微信公众号的神奇之旅</h4>


        </div>
        <div class="custom-body">


            <div class="custom-progress mb-housite">
                <span class="step dot done" style="left:-11px;"></span>
                <small class="step title text-muted" style="left:-35px;">注册登录账号</small>
                <span class="step dot" style="right:-11px;"></span>
                <small class="step title text-muted" style="right: -40px;">开启神奇之旅</small>
            </div>


            <div class="mb-housite" style="background-color:white;padding:50px 170px 20px;">
                <input type="text" class="form-control" placeholder="输入你的手机号" style="margin-bottom:10px;" id="mobile">
                <div class="input-group" style="margin-bottom:10px;">
                    <input type="text" class="form-control" placeholder="输入短信验证码" id="Verification">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" id="getcode">获取验证码</button>
                    </span>
                </div>
                <div class="text-right" style="margin-bottom: 30px;height:20px;">
                    
                </div>
                <input type="password" class="form-control" placeholder="请输入六位以上密码" style="margin-bottom:10px;" id="password">
                <input type="password" class="form-control" placeholder="请再次输入确认密码" style="margin-bottom:30px;" id="passwords">
                <p class="text-center mb-housite">
                    <button class="btn btn-primary btn-lg btn-block" id="addID">创建账号</button>

                </p>
                <p class="text-center">已经有账号?</p>
                <p class="text-center">
                    <a href="/login" class="text-info">登录</a>
                </p>

            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
               <h4 class="modal-title">请输入下方验证码，完成短信发送验证</h4>
            </div>
            <div class="modal-body text-center">
                <div class="center-block" style="width:270px;overflow:hidden;">
                    <div class="pull-left" id="verification_code">
                            <img src="/operator/getcodeImage" alt="" style="width:130px;height:53px;" class="Image">
                        <div class="text-muted small">点击图片刷新验证码</div>
                    </div>
                    <div class="pull-left">
                        <input type="text" class="form-control" placeholder="输入左侧验证码" style="width:130px;margin-left:10px;height:56px;"id="input_box">
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default closure" data-dismiss="modal" style="width:100px;">关闭</button>
                <button class="btn btn-success confirm" data-dismiss="modal" style="width:100px;">确认发送</button>
            </div>
        </div>
    </div>
</div>





<div class="modal fade" id="lookModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div>
    <div class="sa-icon sa-error animateErrorIcon">
      <span class="sa-x-mark animateXMark">
        <span class="sa-line sa-left"></span>
        <span class="sa-line sa-right"></span>
      </span>
</div>

<h2>错误</h2>
    <p style="display: block;" id="Prompt">请确认手机号！</p>
    <button class="confirms" tabindex="1" data-dismiss="modal" style="display: inline-block; background-color: rgb(44, 162, 251); box-shadow: rgba(44, 162, 251, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset;">好的</button>

</div>
</div>

    <script src="../../../javascripts/jquery-2.2.3.min.js"></script>
    <script src="../../../javascripts/bootstrap.min.js"></script>
    <script src="../../../javascripts/register.js"></script>
</body>
</html>