<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>公众号使用期管理</title>
    <link rel="stylesheet" href="${basePath}/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="${basePath}/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="${basePath}/stylesheets/jquery-jvectormap-1.2.2.css">
    <link rel="stylesheet" href="${basePath}/stylesheets/AdminLTE.min.css">
    <link rel="stylesheet" href="${basePath}/stylesheets/_all-skins.min.css">
    <link rel="stylesheet" href="${basePath}/stylesheets/words.css">
    <link rel="stylesheet" href="${basePath}/stylesheets/remodal.css">
    <link rel="stylesheet" href="${basePath}/stylesheets/remodal-default-theme.css">
    <link rel="stylesheet" href="${basePath}/stylesheets/fancySelect.css">
    <link rel="stylesheet" href="${basePath}/stylesheets/validityPeriod.css">
    <link rel="stylesheet" href="${basePath}/stylesheets/proxylist.css">
</head>
<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">
    <header class="main-header">

        <a href="/" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>A</b>LT</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Admin</b>LTE</span>
        </a>

        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="${basePath}/images/user2-160x160.jpg" class="user-image" alt="User Image">
                            <span class="hidden-xs">欢迎你gc243728357</span>
                        </a>
                        <ul class="dropdown-menu">



                            <!-- User image -->
                            <li class="user-header">
                                <img src="${basePath}/images/user2-160x160.jpg" class="img-circle" alt="User Image">
                                <p>
                                    <small>用户名</small>
                                    <span>gc243728357</span>
                                </p>
                            </li>
                            <!-- Menu Body -->
                            <li class="user-body">
                                <div class="row">
                                    <span style="margin-left:71px;">手机号</span>
                                    <span>-12345676878</span>
                                </div>
                            </li>

                            <li class="user-footer">
                                <div class="pull-left">
                                    <span class="label label-info" id="modify">
                                    <a href="#">修改密码</a></span>
                                </div>
                                <div class="pull-right">
                                    <span class="label label-info"><a href="#" >退出</a></span>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="${basePath}/images/user2-160x160.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>微信公众号</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>
            <!-- search form -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
              <span class="input-group-btn">
              </span>
                </div>
            </form>
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>
                <li>
                    <a href="">
                        <i class="fa fa-weixin mr-housite"></i> <span>公众号使用期管理</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-green">new</small>
            </span>
                    </a>
                </li>
                <li class="active treeview">
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>购买管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                    </a>
                </li>
                <li>
                    <a href="pages/widgets.html">
                        <i class="fa fa-th-large mr-housite"></i> <span>信息管理</span>
            <span class="pull-right-container">
            </span>
                    </a>
                </li>
                <li>
                    <a href="billing.html">
                        <i class="fa fa-pie-chart"></i><span>统计</span>
            <span class="pull-right-container">
            </span>
                    </a>
                </li>
            </ul>
        </section>
    </aside>
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <form action="" id="select">
                            <select id="basic-usage-demo">
                                <option value="">服务类型</option>
                                <option>Lorem Ipsum</option>
                                <option>Dolor Sit</option>
                                <option>Vehicula Ornare</option>
                                <option>Foo</option>
                                <option>Bar</option>
                                <option>Baz</option>
                                <option>Qux</option>
                                <option>Zoobie</option>
                                <option>Frang</option>
                            </select>

                            <select id="basic-time-demo">
                                <option value="">授权状态</option>
                                <option>哈哈哈</option>
                                <option>好地方地方</option>
                                <option>可以</option>
                                <option>Foo</option>
                                <option>Bar</option>
                                <option>Baz</option>
                                <option>Qux</option>
                                <option>Zoobie</option>
                                <option>Frang</option>
                            </select>
                            <button class="btn btn-block btn-default" id="filter">筛选</button>
                            <div class="input-group input-group-sm" id="search">
                                <input type="text" name="table_search" class="form-control pull-right" placeholder="订单号">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive mailbox-messages">
                            <table class="table table-hover table-striped">
                                <thead>
                                <th>ID</th>
                                <th>商家手机号</th>
                                <th>公众号</th>
                                <th>授权状态</th>
                                <th>服务类型</th>
                                <th>服务起始</th>
                                <th>服务结束</th>
                                <th>操作</th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="mailbox-date"><span>1224334</span></td>
                                    <td class="mailbox-date"><span class="label label-success">1248723587</span></td>
                                    <td class="mailbox-date"><span>悦读书店</span></td>
                                    <td class="mailbox-date"><span>已开通</span></td>
                                    <td class="mailbox-date"><span>服务中</span></td>
                                    <td class="mailbox-date"><span>2017-01-05</一元返现></span></td>
                                    <td class="mailbox-date"><span>2017-02-09</span></td>
                                    <td class="mailbox-date"><span class="label label-success"><a href="#modalt">减时</a></span>
                                        <span class="label label-success turn"><a href="#modalt">延期</a></span></td>
                                </tr>
                                <tr>
                                    <td class="mailbox-date"><span>1224334</span></td>
                                    <td class="mailbox-date"><span class="label label-success">1248723587</span></td>
                                    <td class="mailbox-date"><span>悦读书店</span></td>
                                    <td class="mailbox-date"><span>已开通</span></td>
                                    <td class="mailbox-date"><span>服务中</span></td>
                                    <td class="mailbox-date"><span>2017-01-05</一元返现></span></td>
                                    <td class="mailbox-date"><span>2017-02-09</span></td>
                                    <td class="mailbox-date"><span class="label label-success"><a href="#modalt">减时</a></span>
                                        <span class="label label-success turn"><a href="#modalt">延期</a></span></td>
                                </tr>
                                <tr>
                                    <td class="mailbox-date"><span>1224334</span></td>
                                    <td class="mailbox-date"><span class="label label-success">1248723587</span></td>
                                    <td class="mailbox-date"><span>悦读书店</span></td>
                                    <td class="mailbox-date"><span>已开通</span></td>
                                    <td class="mailbox-date"><span>服务中</span></td>
                                    <td class="mailbox-date"><span>2017-01-05</一元返现></span></td>
                                    <td class="mailbox-date"><span>2017-02-09</span></td>
                                    <td class="mailbox-date"><span class="label label-success"><a href="#modalt">减时</a></span>
                                        <span class="label label-success turn"><a href="#modalt">延期</a></span></td>
                                </tr>
                                <tr>
                                    <td class="mailbox-date"><span>1224334</span></td>
                                    <td class="mailbox-date"><span class="label label-success">1248723587</span></td>
                                    <td class="mailbox-date"><span>悦读书店</span></td>
                                    <td class="mailbox-date"><span>已开通</span></td>
                                    <td class="mailbox-date"><span>服务中</span></td>
                                    <td class="mailbox-date"><span>2017-01-05</一元返现></span></td>
                                    <td class="mailbox-date"><span>2017-02-09</span></td>
                                    <td class="mailbox-date"><span class="label label-success"><a href="#modalt">减时</a></span>
                                        <span class="label label-success turn"><a href="#modalt">延期</a></span></td>
                                </tr>
                                <tr>
                                    <td class="mailbox-date"><span>1224334</span></td>
                                    <td class="mailbox-date"><span class="label label-success">1248723587</span></td>
                                    <td class="mailbox-date"><span>悦读书店</span></td>
                                    <td class="mailbox-date"><span>已开通</span></td>
                                    <td class="mailbox-date"><span>服务中</span></td>
                                    <td class="mailbox-date"><span>2017-01-05</一元返现></span></td>
                                    <td class="mailbox-date"><span>2017-02-09</span></td>
                                    <td class="mailbox-date"><span class="label label-success"><a href="#modalt">减时</a></span>
                                        <span class="label label-success turn"><a href="#modalt">延期</a></span></td>
                                </tr>
                                <tr>
                                    <td class="mailbox-date"><span>1224334</span></td>
                                    <td class="mailbox-date"><span class="label label-success">1248723587</span></td>
                                    <td class="mailbox-date"><span>悦读书店</span></td>
                                    <td class="mailbox-date"><span>已开通</span></td>
                                    <td class="mailbox-date"><span>服务中</span></td>
                                    <td class="mailbox-date"><span>2017-01-05</一元返现></span></td>
                                    <td class="mailbox-date"><span>2017-02-09</span></td>
                                    <td class="mailbox-date"><span class="label label-success"><a href="#modalt">减时</a></span>
                                        <span class="label label-success turn"><a href="#modalt">延期</a></span></td>
                                </tr>
                                <tr>
                                    <td class="mailbox-date"><span>1224334</span></td>
                                    <td class="mailbox-date"><span class="label label-success">1248723587</span></td>
                                    <td class="mailbox-date"><span>悦读书店</span></td>
                                    <td class="mailbox-date"><span>已开通</span></td>
                                    <td class="mailbox-date"><span>服务中</span></td>
                                    <td class="mailbox-date"><span>2017-01-05</一元返现></span></td>
                                    <td class="mailbox-date"><span>2017-02-09</span></td>
                                    <td class="mailbox-date"><span class="label label-success"><a href="#modalt">减时</a></span>
                                        <span class="label label-success turn"><a href="#modalt">延期</a></span></td>
                                </tr>
                                <tr>
                                    <td class="mailbox-date"><span>1224334</span></td>
                                    <td class="mailbox-date"><span class="label label-success">1248723587</span></td>
                                    <td class="mailbox-date"><span>悦读书店</span></td>
                                    <td class="mailbox-date"><span>已开通</span></td>
                                    <td class="mailbox-date"><span>服务中</span></td>
                                    <td class="mailbox-date"><span>2017-01-05</一元返现></span></td>
                                    <td class="mailbox-date"><span>2017-02-09</span></td>
                                    <td class="mailbox-date"><span class="label label-success"><a href="#modalt">减时</a></span>
                                        <span class="label label-success turn"><a href="#modalt">延期</a></span></td>
                                </tr>
                                <tr>
                                    <td class="mailbox-date"><span>1224334</span></td>
                                    <td class="mailbox-date"><span class="label label-success">1248723587</span></td>
                                    <td class="mailbox-date"><span>悦读书店</span></td>
                                    <td class="mailbox-date"><span>已开通</span></td>
                                    <td class="mailbox-date"><span>服务中</span></td>
                                    <td class="mailbox-date"><span>2017-01-05</一元返现></span></td>
                                    <td class="mailbox-date"><span>2017-02-09</span></td>
                                    <td class="mailbox-date"><span class="label label-success"><a href="#modalt">减时</a></span>
                                        <span class="label label-success turn"><a href="#modalt">延期</a></span></td>
                                </tr>
                                <tr>
                                    <td class="mailbox-date"><span>1224334</span></td>
                                    <td class="mailbox-date"><span class="label label-success">1248723587</span></td>
                                    <td class="mailbox-date"><span>悦读书店</span></td>
                                    <td class="mailbox-date"><span>已开通</span></td>
                                    <td class="mailbox-date"><span>服务中</span></td>
                                    <td class="mailbox-date"><span>2017-01-05</一元返现></span></td>
                                    <td class="mailbox-date"><span>2017-02-09</span></td>
                                    <td class="mailbox-date"><span class="label label-success"><a href="#modalt">减时</a></span>
                                        <span class="label label-success turn"><a href="#modalt">延期</a></span></td>
                                </tr>
                                <tr>
                                    <td class="mailbox-date"><span>1224334</span></td>
                                    <td class="mailbox-date"><span class="label label-success">1248723587</span></td>
                                    <td class="mailbox-date"><span>悦读书店</span></td>
                                    <td class="mailbox-date"><span>已开通</span></td>
                                    <td class="mailbox-date"><span>服务中</span></td>
                                    <td class="mailbox-date"><span>2017-01-05</一元返现></span></td>
                                    <td class="mailbox-date"><span>2017-02-09</span></td>
                                    <td class="mailbox-date"><span class="label label-success"><a href="#modalt">减时</a></span>
                                        <span class="label label-success turn"><a href="#modalt">延期</a></span></td>
                                </tr>

                                </tbody>
                            </table>
                            <!-- /.table -->


                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


<div class="remodal" data-remodal-id="modalt" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
    <div class="gray-box fn-clear">
        <div class="title pre-title">
            <h2>延期</h2>
        </div>
        <div class="box-inner ui-goods-cart">

            <div class="cart-table">
                <div class="cart-group js-cart-group">

                </div>

                <div class="box-inner">
                    <div class="order-discount-line">
                        <div class="form-group">
                            <label>输入手机号</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-phone"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="phonenumber">
                            </div>
                            <!-- /.input group -->
                        </div>
                        <div class="form-group">
                            <label>当前结束时间</label>
                            <p>1997-01-23</p>
                        </div>
                        <div class="form-group">
                            <label>减时到</label>
                            <p>1997-01-20</p>
                        </div>

                        <div class="form-group">
                            <label>减去服务时长(30天为1周期)</label>
                            <ul class="duration">
                                <li>1</li>
                                <li>2</li>
                                <li>3</li>
                                <li>4</li>
                                <li>5</li>
                                <li>6</li>
                                <li>7</li>
                                <li>8</li>
                                <li>9</li>
                                <li>10</li>
                                <li>11</li>
                                <li>12</li>
                            </ul>
                        </div>
                        <p class="Label">
                            <label>已选择 <b>0</b>个周期</label> <label>服务结束时间:</label><b>0000-00-00</b>
                        </p>
                    </div>

                </div>
                <div class="box-inner">
                    <div class="last-payment vouchers-wrapper fn-clear abc">
                        <a href="">确定</a>
                        <a href="">取消</a>
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>

<script src="${basePath}/javascripts/jquery-2.2.3.min.js"></script>
<script src="${basePath}/javascripts/bootstrap.min.js"></script>
<script src="${basePath}/javascripts/app.min.js"></script>
<script src="${basePath}/javascripts/icheck.min.js"></script>
<script src="${basePath}/javascripts/jqueryPage.js"></script>
<script src="${basePath}/javascripts/fancySelect.js"></script>
<script src="${basePath}/javascripts/remodal.js"></script>
<script src="${basePath}/javascripts/vaildityPreiod.js"></script>






</body>
</html>